<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.szabh.androiddfu">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />

    <application>
        <!--mtk sdk一些配置-->
        <!--如果使用本地依赖库，请添加以下组件-->
        <service android:name="com.abupdate.mqtt_libs.mqtt_service.MqttService" />
        <service
            android:name="com.abupdate.iot_libs.service.OtaService"
            android:exported="false" />
        <!--android 系统版本>=21 请添加JobSchedulerService-->
        <service
            android:name="com.abupdate.iot_libs.service.JobSchedulerService"
            android:exported="true"
            android:permission="android.permission.BIND_JOB_SERVICE" />
        <receiver android:name="com.abupdate.iot_libs.receiver.UpgradeReceiver">
            <intent-filter android:priority="2147483647">
                <action android:name="android.net.conn.CONNECTIVITY_CHANGE" />
                <action android:name="android.intent.action.BOOT_COMPLETED" />
            </intent-filter>
        </receiver>
    </application>

</manifest>