<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.watch.aware.app">

    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <application
        android:name=".MyApplication"
        android:icon="@drawable/logo"
        android:label="@string/app_name"
        android:hardwareAccelerated="false"
        android:roundIcon="@drawable/logo"
        android:largeHeap="true"
        android:allowBackup="false"
        android:fullBackupOnly="false"
        android:windowSoftInputMode="adjustResize|adjustPan"
        android:supportsRtl="true"
        tools:replace="android:allowBackup"
        android:theme="@style/AppTheme">
        <activity android:name="com.watch.aware.app.MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <service android:name="com.yc.pedometer.update.DfuService"
            tools:ignore="Instantiatable" />

        <activity
            android:name="com.iapps.logs.com.pascalabs.util.log.activity.ActivityPascaLog"
            android:exported="true"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" />

        <receiver android:name=".helper.MyBroadcastReceiver" >
        </receiver>
    </application>

</manifest>